
body{
	background: url('http://i.stack.imgur.com/jGlzr.png') repeat 0 0 scroll;
    /*border: 1px solid #5b5b3e;*/
}

#OSM_Map {
	//height: 850px;
    height:90vh;
	width: 99%;
	border: 1px solid #5b5b3e;
	
}

.map_container {
	width: 99%;
	margin-left: .5%;
}

.control_container{
	width: 50%;
	margin-left: 25%;
	/*border: 1px solid #5b5b3e;*/

}

#control {

	width: 67%;
	margin-left: 20%;
	/*border: 1px solid #5b5b3e;*/
}

.title_container{
	width: 40%;
	display: None;
}


.loader{
	width: 31%;
	float: right;
    border: 1px solid #5b5b3e;
}

#loading,#success,#fail{
	display: None;
}

.info{
	 margin: auto;
	 padding: 10px;
}